.me-doc-list {
  padding: 0;
  list-style: none;
  margin: 0;

  .me-doc-item {
    border-style: solid;
    border-color: #eee;
    border-width: 0 0 1px 0;
    padding: 0 10px;
    &.active {
      background-color: rgba(86, 61, 124, 0.5) !important;
      color: #fff;

      .me-doc-time {
        color: #fff;
      }
    }

    &:hover {
      background-color: #ddd
    }

    .me-doc-item-body {
      height: 50px;
      line-height: 50px;
    }

    a {
      display: block;
      height: 80px;
      cursor: pointer;

      header {
        line-height: 30px;
      }

      p {
        line-height: 25px;
      }
    }
    .me-doc-time {
      font-size: .6em;
      color: #666;
    }
  }
}