.me-tree-view {
  .me-tree-node {
    list-style-type: none;
    padding: 0 0 0 10px;
    user-select: none;
    margin: 0;

    li {
      line-height: 50px;
      
      header {
        position: relative;
        padding: 0 30px 0 45px;
        cursor: pointer;

        &.active {
          background-color: rgba(86, 61, 124, 0.5) !important;
          color: #fff;
        }
        &:hover {
          background-color: #ddd
        }

        .me-tree-toggle {
          position: absolute;
          left: 5px;
          line-height: 50px;
          width: 15px;
          text-align: center;
          cursor: pointer;
        }

        .me-tree-is-public {
          position: absolute;
          right: 10px;
          line-height: 50px;
        }

        > .fa-folder,
        > .fa-folder-open {
          position: absolute;
          left: 25px;
          line-height: 50px;
          width: 15px;
        }
      }
    }
  }
}