@import '../common/scss/vars';
.me-menu-bar {
  position: fixed;
  width: 100%;
  height: $menu-bar-height;
  top: 0;
  background-color: #563d7c;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  color: #fff;
  padding: 0 20px;
  line-height: $menu-bar-height;

  .me-logo {
    display: inline-block;
    font-size: 24px;
  }
}