$menu-bar-height: 60px;
$tool-bar-height: 60px;
$doc-panel-width: 250px;

.CodeMirror {
  font-size: 20px;
  height: 100%;
  padding: 10px;
}

html, body {
  height: 100%;
}

.me-app {
  height: 100%;
}

.me-main {
  padding-top: $menu-bar-height;
  height: 100%;
}

.me-editor {
  height: 100%;
}

.me-previewer {
  height: 100%;
  padding: 10px;
  color: #666;
}

.me-menu-bar {
  position: fixed;
  width: 100%;
  height: $menu-bar-height;
  top: 0;
  background-color: #563d7c;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  color: #fff;
  padding: 0 20px;

  .me-logo {
    display: inline-block;
    line-height: $menu-bar-height;
    font-size: 24px;
  }
}

.me-editor-panel {
  height: 100%;
  padding: 0 10%;
  position: relative;
}

.me-tool-bar {
  height: $tool-bar-height;
  line-height: $tool-bar-height;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: #eee;
  border-width: 0 0 1px 0;
  .btn {
    width: 40px;
  }

  .me-tool-doc-title {
    border-right: 1px solid #eee;

    input {
      line-height: 40px;
      outline: none;
      border: 0;
      background: transparent;
      width: 100%;
      padding-left: 10px;
    }
  }
}

.me-folder-panel,
.me-doc-panel {
  border-right: 1px solid #eee;
  padding: 0;
}

.me-doc-list {
  padding: 0;
  list-style: none;

  .me-doc-item {
    border-style: solid;
    border-color: #eee;
    border-width: 0 0 1px 0;
    padding-left: 10px;
    &:hover {
      background-color: #ddd
    }

    a {
      display: block;
      height: 80px;
      cursor: pointer;

      header {
        line-height: 30px;
      }

      p {
        line-height: 25px;
      }
    }
  }
}

.me-tree-view {
  .me-tree-node {
    list-style-type: none;
    padding: 0 0 0 10px;
    user-select: none;

    li {
      line-height: 30px;
      
      header {
        position: relative;
        padding: 0 10px 0 45px;
        cursor: pointer;

        &:hover {
          background-color: #ddd
        }

        .me-tree-toggle {
          position: absolute;
          left: 5px;
          line-height: 30px;
          width: 15px;
          text-align: center;
          cursor: pointer;
        }

        > .far {
          position: absolute;
          left: 25px;
          line-height: 30px;
          width: 15px;
        }
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.sync-animation {
  animation: 1.5s infinite linear rotate;
}

.me-context-menu {
  position: fixed;
  display: block !important;
}


.me-loading-block {
  position: relative;
  height: 100%;
  width: 100%;

  .me-loading-overlay {
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;

    .fas {
      font-size: 40px;
      animation: 1s infinite linear rotate;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -20px 0 0 -20px;
    }
  }
}

.me-doc-container {
  padding-top: $tool-bar-height;
}