{% extends "document/base.html" %}

{% block main %}
  {% if doc_list %}
    <div class="list-group">
    {% for doc in doc_list %}
      <a href="{% url 'document:detail' doc.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ doc.title }}</h5>
          <small>{{ doc.update_time|time }}</small>
        </div>
        <p class="mb-1">
        </p>
      </a>
    {% endfor %}
    </div>
  {% else %}
    <p>No document are available.</p>
  {% endif %}
{% endblock %}