@import 'vars';

html, body {
  height: 100%;
}

button {
  outline: none !important;
}

.me-app {
  height: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.me-main {
  padding-top: $menu-bar-height;
  height: 100%;
}

.me-panel {
  border-right: 1px solid #eee;
  padding: 0;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.sync-animation {
  animation: 1.5s infinite linear rotate;
}

.me-toolbar {
  padding: 5px 10px;
  text-align: right;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #eee;

  button {
    font-size: 16px;
    outline: none
  }
}

.row {
  display: flex;
  flex-direction: row;
}
$i: 12;
@while $i > 0 {
  .col-#{$i} { 
    flex: $i;
    width: 100%/12*$i
  }
  $i: $i - 1;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.float-right {
  float: right;
}

$i: 10;
$step: 5px;
@while $i > 0 {
  .pl-#{$i} { 
    padding-left: $i*$step;
  }
  .pr-#{$i} { 
    padding-right: $i*$step;
  }
  .pt-#{$i} { 
    padding-top: $i*$step;
  }
  .pb-#{$i} { 
    padding-bottom: $i*$step;
  }
  $i: $i - 1;
}

$i: 10;
@while $i > 0 {
  .ml-#{$i} { 
    margin-left: $i*$step;
  }
  .mr-#{$i} { 
    margin-right: $i*$step;
  }
  .mt-#{$i} { 
    margin-top: $i*$step;
  }
  .mb-#{$i} { 
    margin-bottom: $i*$step;
  }
  $i: $i - 1;
}

.me-hidden {
  display: none !important;
}
